.p-Home.Flex1 {
display: flex;
background-color: #0E0D26;
flex-direction: column;
padding-left: 60px;
padding-right: 60px;
row-gap: 150px;
padding-bottom: 100px;
padding-top: 40px;
}
.p-Home.Flex14 {
display: flex;
align-items: center;
justify-content: space-between;
padding-left: ;
padding-right: ;
font-family: IBM Plex Sans;
font-size: 18px;
margin-top: ;
padding-bottom: ;
padding-top: ;
position: relative;
}
.p-Home.Flex5 {
display: flex;
column-gap: 10px;
align-items: center;
cursor: pointer;
}
.p-Home.Flex10 {
display: flex;
column-gap: 30px;
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.Flex154 {
display: flex;
column-gap: 30px;
align-items: center;
}
.p-Home.Flex12 {
display: flex;
align-items: center;
column-gap: 10px;
width: ;
justify-content: flex-end;
}
.p-Home.Flex9 {
display: flex;
}
.p-Home.Menu1 {
display: none;
}
.p-Home.Flex6 {
display: flex;
}
.p-Home.Flex16 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 60px;
}
.p-Home.Flex15 {
display: flex;
flex-direction: column;
font-family: ;
font-weight: 600;
font-size: ;
row-gap: 20px;
align-items: center;
}
.p-Home.Flex243 {
display: flex;
column-gap: 30px;
align-items: center;
}
.p-Home.Flex160 {
display: flex;
background-image: ;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 10px;
background-color: #eaeacb00;
padding-top: 40px;
padding-bottom: 40px;
width: 80%;
margin-left: ;
margin-right: ;
padding-left: 40px;
padding-right: 40px;
border-radius: 8px;
}
.p-Home.Flex77 {
display: flex;
flex-direction: column;
padding-left: 60px;
padding-right: 60px;
padding-top: 100px;
padding-bottom: 100px;
background-color: #1B1948;
row-gap: 100px;
}
.p-Home.Flex62 {
display: flex;
background-color: ;
padding-left: ;
padding-right: ;
padding-bottom: ;
padding-top: ;
column-gap: ;
justify-content: space-between;
}
.p-Home.Flex60 {
display: flex;
column-gap: ;
width: 60%;
justify-content: space-between;
}
.p-Home.Flex51 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex47 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex52 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex48 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex53 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex49 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex54 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex50 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex250 {
display: flex;
flex-direction: column;
row-gap: 30px;
width: 30%;
}
.p-Home.Flex251 {
display: flex;
align-items: flex-start;
column-gap: 20px;
}
.p-Home.Flex252 {
display: flex;
flex-direction: column;
}
.p-Home.Flex259 {
display: flex;
flex-direction: column;
row-gap: 10px;
align-items: stretch;
}
.p-Home.Flex258 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex256 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex86 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex85 {
display: flex;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #A5B4FC;
}
.p-Home.Flex84 {
display: flex;
column-gap: 40px;
}
.p-Home.Flex241 {
display: flex;
justify-content: flex-end;
position: fixed;
right: 20px;
bottom: 20px;
height: 40px;
}
.p-Home.Flex195 {
display: flex;
background-color: #2B2B3Bff;
flex-direction: column;
padding-left: 60px;
padding-right: 60px;
row-gap: 125px;
padding-bottom: 100px;
padding-top: 100px;
}
.p-Home.Flex193 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 100px;
}
.p-Home.Flex183 {
display: flex;
flex-direction: column;
font-family: ;
font-weight: 600;
font-size: ;
row-gap: 20px;
align-items: center;
}
.p-Home.Flex242 {
display: flex;
flex-direction: column;
row-gap: 100px;
}
.p-Home.Flex229 {
display: flex;
background-image: ;
background-attachment: fixed;
height: ;
flex-direction: row;
row-gap: 50px;
align-items: stretch;
background-color: ;
justify-content: center;
padding-left: ;
margin-left: ;
margin-right: ;
column-gap: 75px;
}
.p-Home.Flex227 {
display: flex;
background-color: ;
border-radius: ;
}
.p-Home.Flex228 {
display: flex;
flex-direction: column;
font-family: ;
font-weight: 600;
font-size: ;
row-gap: 20px;
align-items: flex-start;
padding-top: ;
width: 40%;
}
.p-Home.Flex232 {
display: flex;
background-image: ;
background-attachment: fixed;
height: ;
flex-direction: row;
row-gap: 50px;
align-items: stretch;
background-color: ;
justify-content: center;
padding-left: ;
margin-left: ;
margin-right: ;
column-gap: 75px;
}
.p-Home.Flex230 {
display: flex;
flex-direction: column;
font-family: ;
font-weight: 600;
font-size: ;
row-gap: 20px;
align-items: flex-start;
padding-top: ;
width: 40%;
}
.p-Home.Flex231 {
display: flex;
background-color: ;
border-radius: ;
}
.p-Home.Flex271 {
display: flex;
background-image: ;
background-attachment: fixed;
height: ;
flex-direction: row;
row-gap: 50px;
align-items: stretch;
background-color: ;
justify-content: center;
padding-left: ;
margin-left: ;
margin-right: ;
column-gap: 75px;
}
.p-Home.Flex269 {
display: flex;
background-color: ;
border-radius: ;
}
.p-Home.Flex270 {
display: flex;
flex-direction: column;
font-family: ;
font-weight: 600;
font-size: ;
row-gap: 20px;
align-items: flex-start;
padding-top: ;
width: 40%;
}
.p-Home.Flex223 {
display: flex;
background-color: #0E0D26;
flex-direction: column;
padding-left: 60px;
padding-right: 60px;
row-gap: 150px;
padding-bottom: 100px;
padding-top: 100px;
}
.p-Home.Flex219 {
display: flex;
border-radius: 8px;
background-color: #2B2B3B;
padding-right: 100px;
margin-right: ;
justify-content: space-between;
align-items: center;
padding-left: 50px;
padding-top: 50px;
padding-bottom: 50px;
color: #1E293B;
}
.p-Home.Flex207 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
width: ;
}
.p-Home.Flex198 {
display: flex;
}
.p-Home.Flex199 {
display: none;
}
.p-Home.Flex208 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: stretch;
align-content: stretch;
width: 55%;
}
.p-Home.Flex226 {
display: flex;
background-image: ;
background-attachment: fixed;
height: ;
flex-direction: column;
row-gap: 40px;
align-items: center;
background-color: ;
justify-content: center;
padding-left: ;
margin-left: ;
margin-right: ;
column-gap: ;
}
.p-Home.Flex224 {
display: flex;
flex-direction: column;
font-family: ;
font-weight: 600;
font-size: ;
row-gap: 20px;
align-items: center;
padding-top: ;
width: 700px;
}
.p-Home.Flex225 {
display: flex;
background-color: ;
border-radius: ;
}
.p-Home.Div1 {
overflow: hidden;
box-sizing: border-box;
border-style: solid;
height: ;
align-self: auto;
display: ;
background-color: #000000;
}
.p-Home.Flex788 {
display: flex;
overflow: hidden;
box-sizing: border-box;
padding-top: ;
margin-top: 20px;
border-style: none;
border-color: #23f608;
width: 300%;
position: relative;
background-color: #000000;
color: #ffffff;
}
.p-Home.Flex789 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #10a2f8;
justify-content: space-around;
align-items: center;
height: ;
width: 50%;
position: relative;
column-gap: ;
font-family: IBM Plex Sans;
font-size: 1.5em;
padding-top: 10px;
padding-bottom: 10px;
background-color: #000000;
}
.p-Home.Flex830 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #10a2f8;
justify-content: space-around;
align-items: center;
height: ;
width: 50%;
position: relative;
column-gap: ;
font-family: IBM Plex Sans;
font-size: 1.5em;
padding-top: 10px;
padding-bottom: 10px;
background-color: #000000;
}
.p-Home.Flex831 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #10a2f8;
justify-content: space-around;
align-items: center;
height: ;
width: 50%;
position: relative;
column-gap: ;
font-family: IBM Plex Sans;
font-size: 1.5em;
padding-top: 10px;
padding-bottom: 10px;
background-color: #000000;
}
.p-Home.Div40 {
overflow: hidden;
box-sizing: border-box;
border-style: solid;
border-width: 5px;
width: ;
padding-top: 50px;
position: relative;
padding-bottom: 200px;
background-color: #000000;
}
.p-Home.Flex871 {
display: flex;
overflow: hidden;
box-sizing: border-box;
width: 210%;
border-style: solid;
column-gap: 10px;
position: relative;
padding-top: ;
padding-bottom: ;
}
.p-Home.Flex872 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 50%;
border-color: #d300ff;
border-width: ;
height: 400px;
position: relative;
color: #ffffff;
padding-top: 20px;
padding-bottom: 20px;
align-items: stretch;
column-gap: 10px;
}
.p-Home.Flex874card {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
position: relative;
height: ;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #333333;
color: #fbf5f5;
width: 500px;
min-width: 400px;
}
.p-Home.Flex873data {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 400px;
height: ;
min-width: 400px;
flex-direction: column;
position: relative;
justify-content: center;
row-gap: 50px;
z-index: 3;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex875 {
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: 20px;
padding-right: 20px;
order: 2;
}
.p-Home.Flex876det {
display: flex;
width: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
column-gap: 20px;
}
.p-Home.Flex877 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex884card {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
position: relative;
height: ;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #333333;
color: #fbf5f5;
width: 500px;
min-width: 400px;
}
.p-Home.Flex883 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 400px;
height: ;
min-width: 400px;
flex-direction: column;
position: relative;
justify-content: center;
row-gap: 50px;
z-index: 3;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex881 {
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: 20px;
padding-right: 20px;
order: 2;
}
.p-Home.Flex880 {
display: flex;
width: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
column-gap: 20px;
}
.p-Home.Flex879 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex890card {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
position: relative;
height: ;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #333333;
color: #fbf5f5;
width: 500px;
min-width: 400px;
}
.p-Home.Flex889 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 400px;
height: ;
min-width: 400px;
flex-direction: column;
position: relative;
justify-content: center;
row-gap: 50px;
z-index: 3;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex887 {
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: 20px;
padding-right: 20px;
order: 2;
}
.p-Home.Flex886 {
display: flex;
width: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
column-gap: 20px;
}
.p-Home.Flex885 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex909 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 50%;
border-color: #d300ff;
border-width: ;
height: 400px;
position: relative;
color: #ffffff;
padding-top: 20px;
padding-bottom: 20px;
align-items: stretch;
column-gap: 10px;
}
.p-Home.Flex906card {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
position: relative;
height: ;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #333333;
color: #fbf5f5;
width: 500px;
min-width: 400px;
}
.p-Home.Flex900 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 400px;
height: ;
min-width: 400px;
flex-direction: column;
position: relative;
justify-content: center;
row-gap: 50px;
z-index: 3;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex897 {
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: 20px;
padding-right: 20px;
order: 2;
}
.p-Home.Flex894 {
display: flex;
width: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
column-gap: 20px;
}
.p-Home.Flex891 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex907card {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
position: relative;
height: ;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #333333;
color: #fbf5f5;
padding-left: ;
padding-right: ;
width: 500px;
min-width: 400px;
}
.p-Home.Flex902 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 400px;
height: ;
min-width: 400px;
flex-direction: column;
position: relative;
justify-content: center;
row-gap: 50px;
z-index: 3;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex898 {
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: 20px;
padding-right: 20px;
order: 2;
}
.p-Home.Flex895 {
display: flex;
width: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
column-gap: 20px;
}
.p-Home.Flex892 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex908card {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
position: relative;
height: ;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #333333;
color: #fbf5f5;
width: 500px;
min-width: ;
}
.p-Home.Flex905 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: 400px;
height: ;
min-width: 400px;
flex-direction: column;
position: relative;
justify-content: center;
row-gap: 50px;
z-index: 3;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex899 {
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 500;
padding-left: 20px;
padding-right: 20px;
order: 2;
}
.p-Home.Flex896 {
display: flex;
width: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
column-gap: 20px;
}
.p-Home.Flex893 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Image2 {
width: ;
height: 36px;
}
.p-Home.TextBox2 {
font-family: PT Sans;
font-weight: 700;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox10 {
cursor: pointer;
}
.p-Home.TextBox11 {
cursor: pointer;
}
.p-Home.TextBox155 {
cursor: pointer;
}
.p-Home.TextBox156 {
cursor: pointer;
}
.p-Home.Image37 {
width: ;
height: 36px;
cursor: pointer;
}
.p-Home.Button2 {
color: #1E293B;
background-color: #FDE047;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 4px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #F1945A;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
width: ;
height: 40px;
}
.p-Home.TextBox5 {
;
}
.p-Home.TextBox6 {
;
}
.p-Home.TextBox7 {
;
}
.p-Home.TextBox8 {
;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 64px;
color: #ffffff;
text-align: left;
}
.p-Home.TextBox16 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 24px;
color: #ffffff;
text-align: left;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
color: #FEF3C7;
text-align: left;
}
.p-Home.Image66 {
cursor: pointer;
}
.p-Home.Image38 {
width: 100%;
border-radius: 8px;
z-index: 2;
}
.p-Home.TextBox63 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #ffffff;
}
.p-Home.TextBox54 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox55 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox64 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #ffffff;
}
.p-Home.TextBox56 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox57 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox58 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox65 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #ffffff;
}
.p-Home.TextBox59 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox60 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox61 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.TextBox66 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #ffffff;
}
.p-Home.TextBox62 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
cursor: pointer;
}
.p-Home.Image76 {
width: 32px;
height: ;
cursor: pointer;
}
.p-Home.Image77 {
width: 32px;
height: ;
cursor: pointer;
}
.p-Home.Image78 {
width: 32px;
height: ;
cursor: pointer;
}
.p-Home.Image79 {
width: 32px;
height: ;
cursor: pointer;
}
.p-Home.TextBox230 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #ffffff;
width: 70%;
}
.p-Home.Image85 {
width: ;
height: 32px;
cursor: pointer;
}
.p-Home.Image84 {
width: 36px;
}
.p-Home.TextBox229 {
font-family: PT Sans;
font-weight: 700;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox95 {
;
}
.p-Home.TextBox93 {
;
}
.p-Home.TextBox94 {
;
}
.p-Home.Image63 {
cursor: pointer;
z-index: 10;
}
.p-Home.TextBox185 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 24px;
color: #dcdeff;
text-align: center;
}
.p-Home.TextBox186 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 48px;
color: #dcdeff;
text-align: center;
}
.p-Home.Image60 {
;
}
.p-Home.TextBox213 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #F9A8D4;
text-align: left;
}
.p-Home.TextBox214 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #FCE7F3;
text-align: left;
}
.p-Home.TextBox215 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 36px;
color: #FBCFE8;
text-align: left;
}
.p-Home.TextBox216 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 36px;
color: #FED7AA;
text-align: left;
}
.p-Home.TextBox217 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #FDBA74;
text-align: left;
}
.p-Home.TextBox218 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #FFEDD5;
text-align: left;
}
.p-Home.Image59 {
background-color: #000000;
}
.p-Home.Image96 {
;
}
.p-Home.TextBox237 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #E0F2FE;
text-align: left;
}
.p-Home.TextBox238 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #7DD3FC;
text-align: left;
}
.p-Home.TextBox239 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 36px;
color: #BAE6FD;
text-align: left;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
color: #DBEAFE;
font-size: 18px;
background-color: #0E0D26;
background-image: none;
border-width: 2px;
border-style: solid;
border-color: #000000;
border-radius: 4px;
font-family: IBM Plex Sans;
font-weight: 400;
height: ;
width: 350px;
text-align: center;
}
.p-Home.Button16 {
color: #1E293B;
background-color: #DBEAFE;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 4px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #F1945A;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
width: ;
height: 40px;
}
.p-Home.TextBox192 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #DBEAFE;
width: 300px;
text-align: center;
}
.p-Home.TextBox201 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #fbbdaf;
text-align: left;
}
.p-Home.TextBox202 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 48px;
color: #fbbdaf;
}
.p-Home.TextBox209 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 48px;
color: #6EE7B7;
text-align: center;
}
.p-Home.TextBox210 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 24px;
color: #D1FAE5;
text-align: center;
}
.p-Home.Image56 {
;
}
.p-Home.TextBox508 {
align-self: auto;
overflow: hidden;
box-sizing: border-box;
text-align: center;
font-family: Fira Code;
background-color: #000000ff;
color: #ffffff;
font-weight: 500;
font-size: 1.3em;
}
.p-Home.Image339 {
width: 70px;
height: 50px;
}
.p-Home.Image340 {
width: 130px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
}
.p-Home.Image341 {
width: 130px;
height: 50px;
}
.p-Home.Image342 {
width: 130px;
height: 50px;
}
.p-Home.Image343 {
width: 130px;
height: 50px;
}
.p-Home.Image356 {
width: 120px;
height: 50px;
}
.p-Home.Image344 {
width: 130px;
height: 50px;
}
.p-Home.Image345 {
width: 130px;
height: 50px;
}
.p-Home.Image346 {
width: 130px;
height: 50px;
}
.p-Home.Image347 {
width: 130px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
}
.p-Home.Image348 {
width: 70px;
height: 50px;
}
.p-Home.Image354 {
width: 130px;
height: 50px;
order: 5;
}
.p-Home.Image349 {
width: 130px;
height: 50px;
}
.p-Home.Image350 {
width: 130px;
height: 50px;
}
.p-Home.Image351 {
width: 130px;
height: 50px;
}
.p-Home.Image352 {
width: 130px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
}
.p-Home.Image353 {
width: 70px;
height: 50px;
}
.p-Home.Image358 {
width: 130px;
height: 50px;
order: 5;
}
.p-Home.Flex878lay {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #0cffff;
border-width: 3px;
width: 100%;
height: 100%;
position: absolute;
align-items: center;
align-self: auto;
justify-content: flex-start;
align-content: stretch;
z-index: 1;
}
.p-Home.TextBox634 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-weight: 500;
}
.p-Home.Image382 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 70px;
border-radius: 50px;
border-width: 4px;
border-style: none;
}
.p-Home.TextBox636 {
;
}
.p-Home.TextBox637 {
color: #039af4;
}
.p-Home.Flex882lay {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #0cffff;
border-width: 3px;
width: 100%;
height: 100%;
position: absolute;
align-items: center;
align-self: auto;
justify-content: flex-start;
align-content: stretch;
z-index: 1;
}
.p-Home.TextBox640 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-weight: 500;
}
.p-Home.Image385 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 50px;
}
.p-Home.Image384 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 70px;
border-radius: 50px;
border-width: 4px;
border-style: none;
}
.p-Home.TextBox638 {
color: #039af4;
}
.p-Home.TextBox639 {
;
}
.p-Home.Flex888lay {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #0cffff;
border-width: 3px;
width: 100%;
height: 100%;
position: absolute;
align-items: center;
align-self: auto;
justify-content: flex-start;
align-content: stretch;
z-index: 1;
}
.p-Home.TextBox643 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-weight: 500;
}
.p-Home.Image387 {
overflow: hidden;
box-sizing: border-box;
width: 100px;
height: 50px;
}
.p-Home.Image386 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 70px;
border-radius: 50px;
border-width: 4px;
border-style: none;
}
.p-Home.TextBox641 {
color: #039af4;
}
.p-Home.TextBox642 {
;
}
.p-Home.Flex901lay {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #0cffff;
border-width: 3px;
width: 100%;
height: 100%;
position: absolute;
align-items: center;
align-self: auto;
justify-content: flex-start;
align-content: stretch;
z-index: 1;
}
.p-Home.TextBox650 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-weight: 400;
}
.p-Home.Image391 {
overflow: hidden;
box-sizing: border-box;
width: 100px;
height: 50px;
}
.p-Home.Image388 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 70px;
border-radius: 50px;
border-width: 4px;
border-style: none;
}
.p-Home.TextBox644 {
;
}
.p-Home.TextBox645 {
color: #039af4;
}
.p-Home.Flex903lay {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #0cffff;
border-width: 3px;
width: 100%;
height: 100%;
position: absolute;
align-items: center;
align-self: auto;
justify-content: flex-start;
align-content: stretch;
z-index: 1;
}
.p-Home.TextBox651 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-weight: 400;
border-style: none;
border-color: #f20b0b;
}
.p-Home.Image392 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 50px;
}
.p-Home.Image389 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 70px;
border-radius: 50px;
border-width: 4px;
border-style: none;
}
.p-Home.TextBox646 {
;
}
.p-Home.TextBox647 {
color: #039af4;
}
.p-Home.Flex904lay {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
border-color: #0cffff;
border-width: 3px;
width: 100%;
height: 100%;
position: absolute;
align-items: center;
align-self: auto;
justify-content: flex-start;
align-content: stretch;
z-index: 1;
}
.p-Home.TextBox652 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-weight: 400;
}
.p-Home.Image390 {
overflow: hidden;
box-sizing: border-box;
width: 70px;
height: 70px;
border-radius: 50px;
border-width: 4px;
border-style: none;
}
.p-Home.TextBox648 {
color: #039af4;
}
.p-Home.TextBox649 {
;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex10.bpt {
display: none;
	}
	.p-Home.Flex6.bpt {
flex-direction: column;
column-gap: ;
row-gap: 16px;
margin-top: 30px;
align-items: flex-end;
width: 100px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #ffffff;
font-size: 18px;
	}
	.p-Home.Flex62.bpt {
flex-direction: column;
row-gap: 60px;
	}
	.p-Home.Flex250.bpt {
width: 100%;
	}
	.p-Home.Flex229.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Flex228.bpt {
width: 80%;
align-items: center;
	}
	.p-Home.Flex232.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Flex230.bpt {
width: 80%;
align-items: center;
	}
	.p-Home.Flex271.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Flex270.bpt {
width: 80%;
align-items: center;
	}
	.p-Home.Flex224.bpt {
width: 80%;
	}
	.p-Home.Flex874card.bpt {
width: 340px;
min-width: 300px;
	}
	.p-Home.Flex875.bpt {
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Flex884card.bpt {
width: 340px;
min-width: 300px;
	}
	.p-Home.Flex881.bpt {
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Flex890card.bpt {
min-width: 300px;
width: 340px;
	}
	.p-Home.Flex887.bpt {
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Flex906card.bpt {
min-width: 300px;
width: 340px;
	}
	.p-Home.Flex897.bpt {
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Flex907card.bpt {
width: 340px;
min-width: 300px;
	}
	.p-Home.Flex898.bpt {
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Flex908card.bpt {
min-width: 300px;
width: 340px;
	}
	.p-Home.Flex899.bpt {
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.TextBox16.bpt {
text-align: center;
font-size: 20px;
	}
	.p-Home.TextBox230.bpt {
width: 100%;
	}
	.p-Home.TextBox217.bpt {
text-align: center;
	}
	.p-Home.TextBox238.bpt {
text-align: center;
	}
	.p-Home.TextBox634.bpt {
padding-left: 40px;
padding-right: 40px;
font-size: 15px;
	}
	.p-Home.TextBox640.bpt {
padding-right: 40px;
padding-left: 40px;
font-size: 15px;
	}
	.p-Home.Image385.bpt {
width: 50px;
	}
	.p-Home.TextBox643.bpt {
padding-left: 40px;
padding-right: 40px;
font-size: 15px;
	}
	.p-Home.Image387.bpt {
width: 50px;
	}
	.p-Home.TextBox650.bpt {
font-size: 15px;
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Image391.bpt {
width: 50px;
	}
	.p-Home.TextBox651.bpt {
font-size: 15px;
padding-left: 40px;
padding-right: 40px;
	}
	.p-Home.Image392.bpt {
width: 50px;
	}
	.p-Home.TextBox652.bpt {
padding-left: 40px;
padding-right: 40px;
font-size: 15px;
	}
	.p-Home.Flex154.bpt {
font-family: IBM Plex Sans;
font-weight: 400;
color: #ffffff;
	}
	.p-Home.Flex12.bpt {
display: flex;
justify-content: center;
align-items: center;
	}
	.p-Home.Flex9.bpt {
display: none;
	}
	.p-Home.Menu1.bpt {
display: flex;
cursor: pointer;
color: #000000;
align-items: center;
	}
	.p-Home.Flex60.bpt {
width: 100%;
	}
	.p-Home.Flex85.bpt {
flex-direction: row;
row-gap: ;
	}
	.p-Home.Flex227.bpt {
justify-content: center;
width: 80%;
	}
	.p-Home.Flex231.bpt {
width: 80%;
justify-content: center;
	}
	.p-Home.Flex269.bpt {
width: 80%;
justify-content: center;
	}
	.p-Home.Flex219.bpt {
flex-direction: column;
row-gap: 40px;
	}
	.p-Home.Flex208.bpt {
width: 80%;
	}
	.p-Home.Flex225.bpt {
width: 80%;
justify-content: center;
	}
	.p-Home.Flex789.bpt {
column-gap: ;
	}
	.p-Home.Div40.bpt {
padding-bottom: 100px;
overflow: scroll;
	}
	.p-Home.TextBox14.bpt {
text-align: center;
	}
	.p-Home.TextBox214.bpt {
text-align: center;
	}
	.p-Home.TextBox215.bpt {
text-align: center;
	}
	.p-Home.TextBox216.bpt {
text-align: center;
	}
	.p-Home.TextBox218.bpt {
text-align: center;
	}
	.p-Home.TextBox237.bpt {
text-align: center;
	}
	.p-Home.TextBox239.bpt {
text-align: center;
	}
	.p-Home.Input4.bpt {
text-align: center;
	}
	.p-Home.TextBox201.bpt {
text-align: center;
	}
	.p-Home.TextBox202.bpt {
text-align: center;
font-size: 36px;
	}
	.p-Home.Flex788.bpt {
width: 300%;
column-gap: 40px;
	}
	.p-Home.Flex871.bpt {
flex-wrap: nowrap;
row-gap: ;
width: 200%;
column-gap: 10px;
	}
	.p-Home.Flex872.bpt {
width: 100%;
justify-content: center;
	}
	.p-Home.Flex909.bpt {
width: 100%;
justify-content: center;
padding-left: ;
padding-right: ;
	}
}
@media screen and (max-width: 767px) {
	.p-Home.Div40.bpt {
overflow: scroll;
padding-bottom: 50px;
padding-top: 50px;
	}
	.p-Home.Div1.bpt {
overflow: hidden;
	}
	.p-Home.Flex788.bpt {
width: 350%;
	}
	.p-Home.Flex871.bpt {
row-gap: 10px;
width: 350%;
	}
	.p-Home.Flex872.bpt {
flex-wrap: wrap;
height: 400px;
row-gap: 10px;
justify-content: space-around;
	}
	.p-Home.Flex909.bpt {
flex-wrap: wrap;
height: 400px;
row-gap: 10px;
justify-content: space-around;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.Flex1.bpt {
padding-left: 30px;
padding-right: 30px;
	}
	.p-Home.Flex154.bpt {
column-gap: 30px;
	}
	.p-Home.Flex12.bpt {
width: ;
display: flex;
	}
	.p-Home.Flex9.bpt {
display: none;
	}
	.p-Home.Menu1.bpt {
width: ;
display: flex;
	}
	.p-Home.Flex243.bpt {
column-gap: 20px;
	}
	.p-Home.Flex160.bpt {
width: 100%;
padding-left: 20px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
	}
	.p-Home.Flex77.bpt {
padding-left: 30px;
padding-right: 30px;
	}
	.p-Home.Flex60.bpt {
flex-wrap: wrap;
row-gap: 40px;
justify-content: flex-start;
column-gap: ;
	}
	.p-Home.Flex51.bpt {
width: 50%;
	}
	.p-Home.Flex52.bpt {
width: 50%;
	}
	.p-Home.Flex53.bpt {
width: 50%;
	}
	.p-Home.Flex54.bpt {
width: 50%;
	}
	.p-Home.Flex85.bpt {
flex-wrap: wrap;
row-gap: 20px;
	}
	.p-Home.Flex241.bpt {
height: 32px;
	}
	.p-Home.Flex195.bpt {
padding-left: 30px;
padding-right: 30px;
row-gap: 100px;
	}
	.p-Home.Flex227.bpt {
width: 100%;
	}
	.p-Home.Flex231.bpt {
width: 100%;
	}
	.p-Home.Flex269.bpt {
width: 100%;
	}
	.p-Home.Flex223.bpt {
padding-left: 30px;
padding-right: 30px;
	}
	.p-Home.Flex219.bpt {
padding-right: 50px;
	}
	.p-Home.Flex208.bpt {
width: 100%;
	}
	.p-Home.Flex225.bpt {
width: 100%;
	}
	.p-Home.Div1.bpt {
overflow: scroll;
	}
	.p-Home.Flex788.bpt {
column-gap: 30px;
width: 450%;
	}
	.p-Home.Flex789.bpt {
column-gap: 30px;
justify-content: space-around;
	}
	.p-Home.Flex830.bpt {
column-gap: 30px;
justify-content: space-around;
	}
	.p-Home.Flex831.bpt {
column-gap: 30px;
	}
	.p-Home.Flex871.bpt {
width: 450%;
	}
	.p-Home.Flex872.bpt {
column-gap: 10px;
flex-wrap: nowrap;
width: 50%;
row-gap: ;
justify-content: flex-start;
	}
	.p-Home.Flex909.bpt {
flex-wrap: nowrap;
justify-content: flex-start;
width: 50%;
row-gap: ;
	}
	.p-Home.TextBox14.bpt {
font-size: 36px;
	}
	.p-Home.TextBox160.bpt {
font-size: 16px;
	}
	.p-Home.Image66.bpt {
height: 32px;
	}
	.p-Home.TextBox185.bpt {
font-size: 20px;
	}
	.p-Home.TextBox186.bpt {
font-size: 32px;
	}
	.p-Home.Image60.bpt {
width: 100%;
	}
	.p-Home.TextBox214.bpt {
font-size: 18px;
	}
	.p-Home.TextBox215.bpt {
font-size: 28px;
	}
	.p-Home.TextBox216.bpt {
font-size: 28px;
	}
	.p-Home.TextBox218.bpt {
font-size: 18px;
	}
	.p-Home.Image59.bpt {
width: 100%;
	}
	.p-Home.Image96.bpt {
width: 100%;
	}
	.p-Home.TextBox237.bpt {
font-size: 18px;
	}
	.p-Home.TextBox239.bpt {
font-size: 28px;
	}
	.p-Home.Input4.bpt {
width: 250px;
text-align: center;
	}
	.p-Home.TextBox201.bpt {
font-size: 12px;
	}
	.p-Home.TextBox202.bpt {
font-size: 24px;
	}
	.p-Home.TextBox209.bpt {
font-size: 32px;
	}
	.p-Home.TextBox210.bpt {
font-size: 20px;
	}
	.p-Home.Image56.bpt {
width: 100%;
	}
}