// Add circle behind GIF
// .p-Home.Flex160{
//     height: 600px;
//     background-image: url("../../../../../assets/hero_section.png");
//     background-position: center; /* Center the image */
//     background-repeat: no-repeat; /* Do not repeat the image */
//     background-size: cover;
// }

// Add radial gradient to flex
// .p-Home.Flex160{
//     height: 600px;
//     background-color: #cccccc;
//     background-image: radial-gradient(#0E0D26, #4338CA);
// }

// Add solid box shadow to image



// Inner box shadow to the navigation bar
// .p-Home.Flex11{


// }
// Adding gradient box shadow to hero GIF
.p-Home.Image38{
    z-index: 1;
    position: relative;
}
.p-Home.Flex160{
    position: relative;
}

.p-Home.Flex160::before{
    content: "";
    width: 100%;
    height:97%;
    background-image:linear-gradient(90deg, #60efff 0%, #0061ff 100% );
    z-index: 0;
    position: absolute;
    transform: translate3d(0px, 1px, 0) scale(0.95);
    filter: blur(10px);
    // opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;

}
// .p-Home.Flex160::after {
//     content: "";
//     z-index: 0;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: inherit;
//     border-radius: inherit;
// }

// Center navigation bar
.p-Home.Flex10{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
// Radial Gradient to hero section
 .p-Showcase.Flex462{
    background: radial-gradient(110% 155% at 50% 5%, rgba(209, 209, 224, 0.35) 5%,
     #0E0D26 60%, #0E0D26 100%);

 }
//  Gradient color added to button in show case section
 .p-Showcase.Button116{
    background: linear-gradient(76.95deg, #818CF8 3.25%, #75F0F0 136.74%);
 }

// .p-Home.Image38{
//     box-shadow: 0px 0px 24px 24px #3730A3;
// }
